/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
composer.lock
*.lock
resources/lang/en.json
.env
*.zip
/nbproject/private/
/nbproject

*.log
error_log
.htaccess
.well-known
*.ftpquota
sync_git.php
migration.php

# Android Build
/app/build
/app/src
twa-manifest.json
android.keystore
manifest-checksum.txt
/.gradle
store_icon.png
gradle.properties
build.gradle
app-release-bundle.aab
gradlew
gradlew.bat
settings.gradle
*.apk
*.apk.idsig
/gradle

# IOS Build
